$font-heading: {{ $.Site.Params.heading_font | default "'Montserrat', sans-serif" }};
$font-body: {{ $.Site.Params.body_font | default "'Lato', sans-serif" }};

body {
  font-family: $font-body;
}

h1, h2, h3, h4, h5, h6 {
 font-family: $font-heading; 
}

.bg-black-60 {
    background-color: rgba(0, 0, 0, 0.85);
}

.measure-wide {
    max-width: 60em;
}